<header class='header' id='header'>
    <div class='container'>
        <div class=''>
            <nav class='header__navigation header-container'>
                <a class='logo nav-item__link'>LOGO</a>
                <ul class='navigation__list list '>
                    <li class='navigation__list-item'>
                        <a class='nav-item__link link'>HOME</a>
                    </li>
                    <li class='navigation__list-item'>
                        <a class='nav-item__link'>MY LIBRARY</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>